.but{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
}

.but:hover{
    opacity: 0.8;
}

.but:active {
    background: #3e6ae1;
    color: #fff;
}

.but:disabled{
    color: white;
    cursor: not-allowed;
}