services:
  db:
    image: postgres:15
    container_name: systemcontrol_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"     
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d 
    networks:
      - backend_net

  service_users:
    build: ./service_users
    container_name: service_users
    ports:
      - "3001:3001"
    env_file:
      - ./service_users/.env
    depends_on:
      - db
    networks:
      - backend_net
    volumes:
      - ./service_users:/app
      - /app/node_modules


  service_orders:
    build: ./service_orders
    container_name: service_orders
    ports:
      - "3002:3002"
    env_file:
      - ./service_orders/.env
    depends_on:
      - db
    networks:
      - backend_net
    volumes:
      - ./service_orders/uploads:/app/uploads

  api_gateway:
    build: ./api_gateway
    container_name: api_gateway
    ports:
      - "3000:3000"
    env_file:
      - ./api_gateway/.env
    depends_on:
      - service_users
      - service_orders
    networks:
      - backend_net

volumes:
  pg_data:

networks:
  backend_net:
