
.projform-container {
  display: grid;
  gap: 14px;
  max-width: 520px;
  padding: 10px;
  height: auto;             
}

/* Заголовок */
.projform-title {
  font-size: 22px;
  margin-bottom: 6px;
  text-align: center;
}

/* Ошибка */
.projform-error {
  color: rgb(227, 26, 66);
  font-size: 14px;
}

/* Метки */
.projform-label {
  font-size: 14px;
  display: grid;
  gap: 4px;
}


.projform-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  box-sizing: border-box;
}


.projform-textarea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  min-height: 80px;
  padding: 8px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  box-sizing: border-box;
}

.projform-input.small {
  width: 90px;
}


.projform-fieldset {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 12px;
  background: #fafafa;
}

.projform-legend {
  font-size: 14px;
  padding: 0 6px;
}

.projform-item-row {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.projform-add-btn {
  margin-top: 6px;
  background: #5cc36d;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.projform-delete-btn {
  background: #ea7070;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.projform-delete-btn:hover {
  background: #8e2323;
}


.projform-filebox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.projform-file-btn {
  background: #5cc36d;
  padding: 8px 14px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  width: 30%;
}

.projform-file-hidden {
  display: none;
}


.projform-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.projform-submit {
  background: #8aabea;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.projform-cancel {
  background: #8fd69a;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}
