.project-card {
  background: #e5f0ff;
  border-radius: 15px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  max-height: 1500px ;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #004c4c;
}

.project-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.details-btn button {
  background: #7dd6a1;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.details-btn button:hover {
  background: #6cc491;
  
}

.adminbutton{
  background-color: rgb(122, 148, 190);
  margin: 5px;
}
.adminbutton:hover{
  background-color: rgb(88, 123, 182);
}