body {
  
  font-family: "Segoe UI", Arial, sans-serif;
  background: url("../images/Frame.png") repeat;
  color: #333;
}

.basa{
  min-height: 100vh;      /* контейнер занимает всю высоту */
  width: 100%;            /* на всю ширину */
  background-color: #fff; /* белый фон */
  padding: 20px 40px;     /* отступы для контента */
  box-sizing: border-box; /* чтобы паддинги не ломали ширину */
}

/* Верхняя панель */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a4e7b8;
  padding: 15px 40px;
  border-radius: 12px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Логотип/название */
header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #006644;
  font-style: italic;
}

/* Навигация */
header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #004c4c;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

header nav a:hover {
  color: #008866;
}

/* Профиль/иконка справа */
header .profile {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* Основная часть */
main {
  text-align: center;
  
}

/* Заголовки */
main h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #004c4c;
}

main p.subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  color: #333;
}

/* Блок с фото */
.hero {
  max-width: 700px;
  padding-left: 25px;  
  
  
}

.hero img {
  max-width: 100%;
  border-radius: 10px;
  
}

/* О компании */
.about {
  max-width: 700px;
  background: #e5f5ff;
  padding: 20px 25px;
  
  font-size: 15px;
  color: #004466;
  line-height: 1.6;
}
